{% extends 'skylernet/base.html' %}

{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block styles %}
<!-- Custom styles for this template -->
<link href="{% static 'portfolio/project.css' %}" rel="stylesheet" type='text/css'>
{% endblock %}

{% block content %}
<!-- Page Content from https://github.com/BlackrockDigital/startbootstrap-portfolio-item
see LICENSE-BLACKROCK.txt for licensing information
-->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{ project.title }}</h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{ project.image.url }}" alt="Image for {{ project.title }}">
    </div>

    <div class="col-md-4">{{ project.long }}</div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  {% if related_projects %}
  <h3 class="my-4">Related Projects</h3>

  <div class="row">
    {% for project in related_projects %}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="{{ project.slug }}">
        <img class="img-fluid" src="project.image.url" alt="Image for {{ project.title }}">
      </a>
    </div>
    {% empty %}
    {% endfor %}
  </div>
  <!-- /.row -->
  {% endif %}
  <br>

</div>
<!-- /.container -->
{% endblock %}
