{% extends 'skylernet/base.html' %}

{% load static %}

{% block title %}Blog Home{% endblock %}

{% block styles %}
<!-- Custom styles for this template -->
<link href="{% static 'blog/blog-home.css' %}" rel="stylesheet" type='text/css' xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
<!-- Page Content used https://github.com/BlackrockDigital/startbootstrap-blog-home
see LICENSE-BLACKROCK.txt for licensing information
-->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      {% block blog_left_col %}
      <h1 class="my-4">Blog Home</h1>

      <hr>

      {% block blog_home_posts %}
      {% for post in displayed_posts %}
      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="{{ post.image.url }}" alt="Image for {{ post.title }}">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">
            {{ post.briefing }}
            <br>
            <form method="get" action="{% url 'blog:index' %}">
              <b style="display:inline">Tags:</b>
              {% for tag in post.tags.get_queryset %}
              <button style="background:none;border:none;margin:0;padding:5;display:inline;"
                      class="page-link" name="tag" value="{{ tag.slug }}">{{ tag.name }}</button>
              {% empty %}
              {% endfor %}
            </form>
          </p>
          <a href="{{ post.slug }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ post.date_posted }} by {{ post.author }}; Last updated on {{ post.date_updated }}.
        </div>
      </div>
      {% empty %}
      <div>Sorry, there are no posts.</div>
      {% endfor %}
      {% endblock %}

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
      {% endblock %}
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      {% block blog_right_col %}
      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
          <form method="get" action="{% url 'blog:index' %}">
            {% for tag in tags %}
            <button style="background:none;border:none;margin:0;padding:5;display:inline;" class="page-link" name="tag"
                    value="{{ tag.slug }}">{{ tag.name }}</button>
            {% empty %}
            {% endfor %}
          </form>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Really, a Blog?</h5>
        <div class="card-body text-justify">
          Well... yes. In part, this site was built to demonstrate my full stack development skills. Blogs are common on
          the web, and quickly developing a simple blog-app on my site seemed like a core checklist item.
          <hr>
          Of course, it equally serves as a place where I can provide more insight into my decision making process. And
          more generally, share some of my thoughts and perspective.
        </div>
      </div>
      {% endblock %}

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
