{% extends 'skylernet/base.html' %}

{% load static %}

{% block title %}Connect with Skyler{% endblock %}

{% block styles %}
<!-- Custom styles for this template -->
<link href="{% static 'portfolio/portfolio.css' %}" rel="stylesheet" type='text/css'>
{% endblock %}

{% block content %}
<!-- Page Content from https://github.com/BlackrockDigital/startbootstrap-1-col-portfolio
See LICENSE-BLACKROCK.txt for licensing information
-->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Let's Connect</h1>

  <hr>

  <!-- Resume -->
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <h3>My Resume</h3>
      <p>Feel free to grab a copy. If you'd like a more detailed CV, just ask.</p>
      <a class="btn btn-primary" href="/static/skylernet/skyler_mishkin_resume.pdf">View</a>
    </div>
  </div>
  <br>
  <br>
  <!-- Email -->
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <h3>Email me</h3>
      <p>Just click the button! Or use the email in my resume.</p>
      <a class="btn btn-primary" href="mailto:skyler@mishkin.com">Say Hi</a>
    </div>
  </div>
  <hr>
  <!-- Online Media -->
  <div class="row justify-content-center">
      <div class="col-md-4 text-center">
          <h3>Online Media</h3>
          <div class="row justify-content-center">
              {% for media in online_media %}
              <div class="col inline" >
                  <a href="{{ media.href }}">
                    <img class="img-responsive rounded" src="{{ media.src }}" alt="{{ media.name }}" height="50px">
                  </a>
              </div>
              {% empty %}
              <p>Sorry, I haven't added any social media yet.</p>
              {% endfor %}
          </div>
          <br>
          <br>
      </div>
  </div>

</div>
<!-- /.container -->
{% endblock %}