{% extends 'skylernet/base.html' %}

{% load static %}

{% block title %}Welcome to SkylerNet!{% endblock %}

{% block styles %}
<!-- Custom styles for this template -->
<link href="{% static 'skylernet/business-frontpage.css' %}" rel="stylesheet" type='text/css'>
{% endblock %}

{% block content %}
<!-- most of this content came from https://github.com/BlackrockDigital/startbootstrap-business-frontpage -->

<!-- div with Background Image... see the css -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4">The Sky's the Limit</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content
see LICENSE-BLACKROCK.txt for licensing information
-->
<div class="container">

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 class="mt-4 text-center">Hi!</h2>
      <p class="text-justify">
        I'm Skyler and I've got a lot to offer. Professionally, I am an experienced molecular biologist and
        bioinformatician, who also has full-stack development skills. Casually, I am a musician, artist, game
        enthusiast, and fairly-coordinated nice person.
      </p>
      <p class="text-justify">
        Hopefully you're someone who may know of me already, and who's looking to learn some more. Maybe
        you're interested in me working or collaborating with you and your team. Maybe you like Wordl, or some of the
        other projects I've worked on. And if you're none of the above, may you still find something interesting here.
      </p>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'skylernet/blog_icon.png' %}" alt="blog icon" style="width:300px;height:200px;" >
        <div class="card-body">
          <h4 class="card-title">Reading Time!</h4>
          <p class="card-text text-justify">I've written a few blog posts. Learn about this site, my experience in biotechnology,
          and some other topics I'm passionate about.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'blog:index' %}" class="btn btn-primary">Blog</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'skylernet/projects_icon.jpg' %}" alt="projects icon" style="width:300px;height:200px;">
        <div class="card-body">
          <h4 class="card-title">Woo Creativity!</h4>
          <p class="card-text text-justify">Check out some of the projects I've hosted on the web. From bioinformatics applications
            to games, my nerdy-ness <i>WILL</i> be apparent.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'portfolio:index' %}" class="btn btn-primary">Projects</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'skylernet/connect_icon.jpg' %}" alt="connect icon" style="width:300px;height:200px;">
        <div class="card-body">
          <h4 class="card-title">Let's Connect!</h4>
          <p class="card-text text-justify">I've got a lot to offer. Grab a copy of my resume or CV, shoot me an email, or connect through social media.</p>
        </div>
        <div class="card-footer">
          <a href="todo" class="btn btn-primary">Connect</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
